{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>sample update page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class="container card card-body col-md-6 mt-3 bg-info">
		<h2 class="text-center bg-success">Student Update Form</h2>
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for=" ">Name:</label>
				<input type="text" name="name" placeholder="Enter your name" class="form-control my-3" id="name" value="{{data.name}}">
			</div>

			<div class="form-group">
				<label for=" ">RollNumber:</label>
				<input type="number" name="rollnum" placeholder="Enter your rollnumber" class="form-control my-3" id="rnm" value="{{data.rollnum}}">
			</div>

			<div class="form-group">
				<label for=" ">Age:</label>
				<input type="number" name="age" placeholder="Enter your age" class="form-control my-3" id="age" value="{{data.age}}">
			</div>

			<div class="form-group">
				<label for=" ">Mobile:</label>
				<input type="number" name="mbl" placeholder="Enter your mobile number" class="form-control my-3" id="mbl" value="{{data.mobile}}">
			</div>

			<div class="form-group">
				<label for=" ">Email:</label>
				<input type="email" name="email" placeholder="Enter your email" class="form-control my-3" id="email" value="{{data.email}}">
			</div>

			<div class="form-group">
				<label for=" ">Address:</label>
				<input type="text" name="addr" placeholder="Enter your Address" class="form-control my-3" id="addr" value="{{data.address}}">
			</div>

			<button class="btn btn-primary">Update</button>
		</form>
	</div>
</body>
</html>